* {
    box-sizing: border-box;
    font-family: Calibri;
}

header {
    text-align: center;
    border-style: solid;
    border-color: #0070C0;
    border-radius: 10px;
    margin-top: 20px;
}

address {
    font-style: normal;
    padding-bottom: 10px;
}

nav {
    margin-top: 40px;
}

footer {
    background-color: #0070C0;
    color: white;
    text-align: center;
    padding: 5px 0;
}

h1 {
    margin: auto;
    color: white;
    background: #0070C0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

h2 {
    color: #0070C0;
    padding-left: 20px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    border-bottom: 3px solid #0070C0;
}

h3 {
    color: #0070C0;
    border-bottom: 2px solid #0070C0;
    padding-left: 20px;
}

p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    text-justify: inter-word;
}

ul {
    padding: 0 40px;
    text-align: justify;
    text-justify: inter-word;
}

.navInd {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 90%;
}

.navigation {
    display: flow-root;
}