* {
    font-family: Calibri;
    box-sizing: border-box;
}

header {
    text-align: center;
    border-style: solid;
    border-color: #0070C0;
    border-radius: 10px;
    margin-top: 20px;
}

address {
    font-style: normal;
    padding-bottom: 10px;
}

nav {
    margin-top: 40px;
    /*border-style: solid;
    border-color: #0070C0;
    border-radius: 5px;*/
}

footer {
    background-color: #0070C0;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    margin: auto;
    color: white;
    font-family: 'Calibri';
    background: #0070C0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

h2 {
    color: #0070C0;
    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 3px solid #0070C0;
}

h3 {
    color: #0070C0;
    border-bottom: 2px solid #0070C0;
}

p {
    padding-left: 40px;
    padding-right: 40px;
}

.linav {
    list-style-type: disc;
    float: left;
    padding-right: 15%;
}

.navigation {
    display: flow-root;
}
/*
#aboutMe {
    display: flow-root;
}
*/