* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
  margin-top: 10px;
}

.menu {
  display: none;
}

.hamburger {
  background-color: grey;
  padding: 3px 10px;
  margin: 3px;
  text-align: right;
  color: white;
}

.product {
  border: grey 1px solid;
  display: flex;
  flex-flow: column wrap;
  margin: 0 3px;
  padding: 3px;
}

.social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .logo {
    margin-right: 10px;
  }

}

@media screen and (min-width: 1025px) {
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .logo {
    margin-right: 10px;
  }

  .product {
    width: 30%;
  }

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 40px;
    color: white;
    background-color: grey;
    list-style-type: none;
  }

  .menu li {
    padding: 5px 30px;
    font-weight: bold;
  }

  .hamburger {
    display: none
  }
}

